<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>세번쨰 페이지</title>
</head>
<body>
<h1>세번째 페이지</h1>
<h2>Dto 받기</h2>
<p th:text="'제품명 : ' +${prod1.pname}"></p>
<p th:text="'제조사 : ' +${prod1['brand']}"></p>
<p th:text="'가격 : ' +${prod1.getPrice()}"></p>
<p th:text="'수량 : '+${prod1.amount}"></p>
<hr>
<table border="1" width="200">
	<tr th:object="${prod2}">
		<td th:text="*{pname}"></td>
		<td th:text="*{brand}"></td>
		<td th:text="*{price}"></td>
		<td th:text="*{amount}"></td>
	</tr>
</table>

</body>
<script th:inline="javascript">
	  let m =[[${msg}]];
	if(m != null){
	  alert(m);
	}
</script>
</html>
